/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.app {
  display: flex;
  height: 100vh;
  color: #e0e0e0;
  background-color: #1a1a1a;
  font-family: 'Arial', sans-serif;
}

* {
  user-select: none;
  font-family: sans-serif;
}

.sidebar {
  width: 300px;
  /* Increased width */
  background: #2c2c2c;
  padding: 0px 20px 20px 20px;
  border-right: 1px solid #444;
  overflow-y: auto;
  /* Add this line */
}

.sidebar::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background: #2c2c2c;
  /* color of the tracking area */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #2c2c2c;
  /* creates padding around scroll thumb */
}

/* change color of scroll thumb on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.user-settings h2 {
  margin-top: 20px;
}

.sidebar h2 {
  color: #d4af37;
  /* Gold color for headers */
  margin-bottom: 10px;
  margin-top: 20px;
}

.sidebar .filter,
.sidebar .search {
  margin-bottom: 15px;
}

.sidebar .filter label {
  color: #e0e0e0;
}

.sidebar .search input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #666;
  background: #444;
  color: #e0e0e0;
}

.chat-window {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #444;
  background: #1a1a1a;
}

.chat-window h2 {
  color: #d4af37;
  /* Gold color for headers */
}

.user-settings {
  width: 300px;
  padding: 0px 20px 20px 20px;
  background: #2c2c2c;
  border-left: 1px solid #444;
}

.no-selection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #d4af37;
  /* Gold color for no selection text */
}

ul {
  list-style: none;
  padding: 0;
}

.contact-item {
  padding: 15px 15px 15px 10px;
  /* Increased padding */
  margin: 10px 0;
  /* Increased margin */
  cursor: pointer;
  background: #444;
  color: #e0e0e0;
  border-radius: 5px;
  height: 50px;
}

.contact-item:hover {
  background: #555;
}

.contact-item.active {
  background: #666;
}

.sidebarProfileName{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact-name {
  width: 100%;
  margin-top: auto;
  font-weight: bold;
  /* Bold name */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
}

.contact-last-message-time{
  width: 40%;
  text-align: right;
  font-size: 10px;
  color: gray;
}

.contact-last-message {
  text-align: left;
  width: 50%;
  margin-top: 0px;
  color: #ccc;
  font-size: 12px;
  /* Lighter color for last message */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
}

label {
  color: #d4af37;
  /* Gold color for labels */
}

input[type="text"] {
  background: #444;
  border: 1px solid #666;
  color: #e0e0e0;
  padding: 5px;
  border-radius: 3px;
  margin-top: 5px;
}

input[type="file"] {
  color: #e0e0e0;
  margin-top: 10px;
}

button {
  background: #444;
  border: 1px solid #666;
  color: #e0e0e0;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #555;
}

img {
  border: 1px solid #666;
  margin-top: 10px;
}

.filter label {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #666;
  border-radius: 3px;
  background: #444;
  color: #e0e0e0;
  cursor: pointer;
}

.filter label:hover {
  background: #647d85;
}

.filter input[type="radio"] {
  display: none;
}

.filter input[type="radio"]:checked+label {
  background: #292e08;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.chat-window li {
  font-size: 25px;
  user-select: text;
}
.profileIcons{
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 0px;
}
