/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.app {
  display: flex;
  height: 100vh;
  color: #e0e0e0;
  background-color: #1a1a1a;
  font-family: 'Arial', sans-serif;
}

* {
  user-select: none;
  font-family: sans-serif;
}

.sidebar {
  width: 300px;
  /* Increased width */
  background: linear-gradient(0deg, rgba(10,31,51,1) 0%, rgba(13,40,66,1) 100%);
  padding: 0px 20px 20px 20px;
  border-right: 1px solid black;
  overflow-y: auto;
  /* Add this line */
}

.sidebar::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background: #020B14;
  /* color of the tracking area */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #383737;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #2c2c2c;
  /* creates padding around scroll thumb */
}

/* change color of scroll thumb on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.user-settings h2 {
  margin-top: 20px;
}

.sidebar h2 {
  color: #b8e2f2;
  /* Gold color for headers */
  margin-bottom: 10px;
  margin-top: 20px;
}

.sidebar .filter,
.sidebar .search {
  margin-bottom: 15px;
}

.sidebar .filter label {
  color: #e0e0e0;
}

.sidebar .search input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid #666;
  background: #020B14;
  color: #e0e0e0;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  padding: 0px;
  border: 1px solid black;
  overflow: hidden;
  background:linear-gradient(30deg, rgb(16, 72, 124) 0%, rgba(13,40,66,1) 100%);
}

.chat-window h2 {
  color: #b8e2f2;
  /* Gold color for headers */
}

.user-settings {
  width: 300px;
  padding: 0px 20px 20px 20px;
  border-left: 1px solid black;
}

.no-selection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #b8e2f2;
  /* Gold color for no selection text */
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.contact-item {
  padding: 15px 15px 15px 10px;
  /* Increased padding */
  margin: 10px 0;
  /* Increased margin */
  cursor: pointer;
  background: #020B14;
  color: #e0e0e0;
  border-radius: 15px;
  height: 50px;
}

.contact-item:hover {
  background: #383737;
}

.contact-item.active {
  background: #383737;
}

.sidebarProfileName{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact-name {
  width: 100%;
  margin-top: auto;
  font-weight: bold;
  /* Bold name */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
}

.message-area{
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.contact-last-message-time{
  width: 40%;
  text-align: right;
  font-size: 10px;
  color: gray;
}

.contact-last-message {
  text-align: left;
  width: 50%;
  margin-top: 0px;
  color: #ccc;
  font-size: 12px;
  /* Lighter color for last message */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
}

label {
  color: #b8e2f2;
  /* Gold color for labels */
}

input[type="text"] {
  background: #444;
  border: 1px solid #666;
  color: #e0e0e0;
  padding: 5px;
  border-radius: 3px;
}

input[type="file"] {
  color: #e0e0e0;
  margin-top: 10px;
}

button {
  background: #444;
  border: 1px solid #666;
  color: #e0e0e0;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #555;
}

img {
  border: 1px solid #666;
  margin-top: 10px;
}

.filter label {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #666;
  border-radius: 6px;
  background: #020B14;
  color: #e0e0e0;
  cursor: pointer;
}

.filter label:hover {
  background: #647d85;
}

.filter input[type="radio"] {
  display: none;
}

.filter input[type="radio"]:checked+label {
  background: #383737;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.chat-window li {
  display: inline-flex;
  font-size: 20px;
  user-select: text;
}
.profileIcons{
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 0px;
}
.chatWindowUpper{
  border-bottom: black 3px solid;
  height: 100px;
  background-color: #061f37;
  width: 100%;
  color:#DEE3DB;
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Lora';
  font-style: italic;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.message-item{
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-left: 30px;
}

.chatProfileIcons{
  bottom: 0;
  float: left;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 0px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0A1F33;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #020B14;
  padding: 40px;
  border-radius: 10px;
}

.login-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4FC0D0;
  color: #FFFFFF;
  font-size: 30px;
  width: 600px;
  height: 48px;
  margin-top: 0px;
}

.login-button {
  border-radius: 5px;
  padding: 20px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  height: 60px;
  margin: 0;
}

.create-button {
  background-color: #5FC7E6;
}

.import-button {
  background-color: #5FC7E6;
}

.login-button:hover {
  transition-duration: 200ms;
  background-color: #10304e;
}

.input-group {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-text{
  color: white;
  text-align: center;
}

.login-container img {
  width: 250px; /* adjust as needed */
  height: auto;
  margin: 0 auto 20px; /* centers the image and adds space below */
}

.message-text{
  display: flex;
  align-items: center;
  justify-self: center;
  color: black;
  user-select: text;
  width: fit-content;
  max-width: 400px;
  background: linear-gradient(0deg, rgba(215,224,232,1) 0%, rgba(229,230,208,1) 100%);
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  word-break: break-word;
  border: #0A1F33 1px solid;
}

.message-content{
  display: flex;
  flex-direction: column;
  width: auto;
  white-space: pre-wrap;
}

.message-sender{
  color: grey;
}

.message-input-container {
  display: flex;
  justify-content: center;
  align-items: center; /* This will center the send button vertically */
  padding: 10px;
  background: linear-gradient(0deg, rgba(10,31,51,1) 0%, rgba(13,40,66,1) 100%);
  margin-top: auto;
  border-top: 2px solid black;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4FC0D0 ; 
  color: #FFFFFF;
  font-size: 20px;
}

.file-input {
  display: none;
  margin-left: 10px;
  color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
}

.message-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #0A1F33;
  margin-top: auto;
}

.message-input {
  flex-grow: 1;
  padding: 10px !important;
  border-radius: 15px !important;
  border: 1px solid #4FC0D0;
  background-color: #134162 !important;
  color: #4FC0D0;
  font-size: 20px;
  margin-right: 10px;
}

.file-input-label {
  background-color: #020B14;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.file-input-label:hover {
  transition-duration: 110ms;
  background-color: #24619b;
}

.send-button {
  background-color: #020B14;
  border: none;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 0px;
  font-size: 15px;
}

.send-button:hover {
  transition-duration: 110ms;
  background-color: #24619b;
}